.footer {
    background-color: var(--color_green);
    color: var(--background_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer_up {
    width: 100%;
    margin: 22px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer_up .social {
    border: 2px solid var(--background_color);
    border-radius: 30px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.footer_up .social h3 {
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 5px;
    color: var(--color_melon);
    text-decoration: underline;
}

.footer_up .social img {
    width: 60px;
    height: auto;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
    border: 1px var(--color_green) solid;
    transition: linear 0.3s ;
}

.footer_up .social img:hover {
    border: var(--color_melon) 1px solid;
    transition: linear 0.5s ;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.footer_down {
    width: 80%;
    color: var(--background_color);
}

.footer_down p a, .footer_down p a:visited{
    color: var(--background_color);
    cursor: pointer;
}

.footer_down hr {
    margin: 8px;
    width: 100%;
    border: var(--color_melon) 1px solid;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer_down p {
    text-align: center;
    font-size: 1.1em;
    margin: 8px;
}