.feedbackbox {
    margin: 30px;
}


.feedbackbox .slick-slide {
    /* margin: 30px; */
    padding: 20px;
    /* background-color: aqua; */
}

.feedbackbox .box {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    color: var(--color_text);
    padding: 10px;
    background-color: var(--color_melon);
    border: 5px solid var(--color_green);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    
}

.feedbackbox p {
    font-style: italic;
    min-height: 220px;
    }

.feedbackbox h4 {
    padding-top: 10px;
    text-align: center;
}