.generic-form {
  color: var(--color_text);
  margin: 20px 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color_green_light);
  border: 3px double var(--color_green_light);
  border-radius: 12px;
  box-shadow: var(--color_green_light) 0px 4px 16px,
    var(--color_green_light) 0px 8px 32px;
}

.generic-form button {
  /* width: 30%; */
}

.generic-form .mapped-input {
  /* width: 30%; */
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.generic-form .form-message {
  /* margin: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.generic-form label {
  padding: 5px;
}

.generic-form input,
textarea {
  background: var(--background_color);
  border: 2px solid var(--color_melon_light);
  border-radius: 5px;
}

.generic-form button {
  margin: 30px;
  color: var(--color_text);
  padding: 10px 40px;
  background: var(--color_green);
  border: 5px double var(--color_green_light);
  box-shadow: var(--color_green_light) 0px 4px 16px,
    var(--color_green_light) 0px 8px 32px;
  border-radius: 8px;
}
