.gmapcheap {
  padding: 40px 10%;
  display: flex;
  justify-content: center;
  /* background: var(--color_green_light); */
}

.gmapcheap img {
  max-width: 100%;
  border: 3px double var(--color_green_light);
  border-radius: 12px;
  box-shadow: var(--color_green_light) 0px 4px 16px,
    var(--color_green_light) 0px 8px 32px;
}

@media only screen and (max-width: 768px) {
  .gmapcheap {
    padding: 20px;
  }
}
