.bandeau {
    height: 800px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 50%);
    margin-top: 30px;
    margin-bottom: 30px;
}

.bandeau .left {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    /* background: #000; */
    /* box-shadow: 90px 0 100px #000; */
}

.bandeau h1 {
    color: #f1f1f1;
    font-size: 90px;
    padding-top: 200px;
    padding-bottom: 20px;
    margin-left: 80px;
    white-space: nowrap;
}

.bandeau h3 {
    color: #f1f1f1;
    font-size: 30px;
    text-align: justify;
    margin-left: 80px;
    line-height: 1.3;
}

.bandeau button {
    font-size: 18px;
    text-align: center;
    background-color: #000;
    color: #f1f1f1;
    padding: 15px;
    text-decoration: none;
    margin-top: 40px;
    border: 1px solid #f1f1f1;
    width: 150px;
    cursor: pointer;
    margin-left: 200px;
}

.bandeau .right {
    background-image: url("../../assets/img/ciseaux.jpg");
    background-size: cover;
    width: 60%;
    height: 100%;
    align-self: flex-end;
    z-index: 0;

}